<link rel='stylesheet' href='../public/css/style.css' />
<!--Description for the top of the page-->
<div class='container text-center assessment-title'>
  <h1>Self-assessment</h1>
  <p>Please rate your understanding of each topic on a scale of 1 (I am
    completely new to the topic) to 5 (I understand the topic and could teach it
    to others):
  </p>
</div>

<!--Assessments questions as well as the 1-5 scale buttons-->
<iframe name='dummyframe' id='dummyframe' style='display: none;'></iframe>
<form action='/api/scores' target='dummyframe' method='post'>
  <div class='container score-card'>
    <section id='updated-message'></section>
    <p>Vanilla JS- functions, looping, scope, es6 syntax etc</p>
    <section class='form-check form-check-inline'>
      <input
        class='form-check-input'
        type='radio'
        name='vanillaJs'
        id='vanilla1'
        value='1'
        checked
      />
      <label class='form-check-label' for='inlineRadio1'>1</label>
    </section>
    <section class='form-check form-check-inline'>
      <input
        class='form-check-input'
        type='radio'
        name='vanillaJs'
        id='vanilla2'
        value='2'
      />
      <label class='form-check-label' for='inlineRadio2'>2</label>
    </section>
    <section class='form-check form-check-inline'>
      <input
        class='form-check-input'
        type='radio'
        name='vanillaJs'
        id='inlineRadio1'
        value='3'
      />
      <label class='form-check-label' for='inlineRadio1'>3</label>
    </section>
    <section class='form-check form-check-inline'>
      <input
        class='form-check-input'
        type='radio'
        name='vanillaJs'
        id='inlineRadio2'
        value='4'
      />
      <label class='form-check-label' for='inlineRadio2'>4</label>
    </section>
    <section class='form-check form-check-inline'>
      <input
        class='form-check-input'
        type='radio'
        name='vanillaJs'
        id='inlineRadio1'
        value='5'
      />
      <label class='form-check-label' for='inlineRadio1'>5</label>
    </section>

    <p>MYSQL - Joins, queries, schemas, seeds</p>
    <section class='form-check form-check-inline'>
      <input
        class='form-check-input'
        type='radio'
        name='mySql'
        id='inlineRadio1'
        value='1'
        checked
      />
      <label class='form-check-label' for='inlineRadio1'>1</label>
    </section>
    <section class='form-check form-check-inline'>
      <input
        class='form-check-input'
        type='radio'
        name='mySql'
        id='inlineRadio2'
        value='2'
      />
      <label class='form-check-label' for='inlineRadio2'>2</label>
    </section>
    <section class='form-check form-check-inline'>
      <input
        class='form-check-input'
        type='radio'
        name='mySql'
        id='inlineRadio1'
        value='3'
      />
      <label class='form-check-label' for='inlineRadio1'>3</label>
    </section>
    <section class='form-check form-check-inline'>
      <input
        class='form-check-input'
        type='radio'
        name='mySql'
        id='inlineRadio2'
        value='4'
      />
      <label class='form-check-label' for='inlineRadio2'>4</label>
    </section>
    <section class='form-check form-check-inline'>
      <input
        class='form-check-input'
        type='radio'
        name='mySql'
        id='inlineRadio1'
        value='5'
      />
      <label class='form-check-label' for='inlineRadio1'>5</label>
    </section>

    <p>Node.JS- what is it? requiring, exporting, packages</p>
    <section class='form-check form-check-inline'>
      <input
        class='form-check-input'
        type='radio'
        name='nodeJs'
        id='inlineRadio1'
        value='1'
        checked
      />
      <label class='form-check-label' for='inlineRadio1'>1</label>
    </section>
    <section class='form-check form-check-inline'>
      <input
        class='form-check-input'
        type='radio'
        name='nodeJs'
        id='inlineRadio2'
        value='2'
      />
      <label class='form-check-label' for='inlineRadio2'>2</label>
    </section>
    <section class='form-check form-check-inline'>
      <input
        class='form-check-input'
        type='radio'
        name='nodeJs'
        id='inlineRadio1'
        value='3'
      />
      <label class='form-check-label' for='inlineRadio1'>3</label>
    </section>
    <section class='form-check form-check-inline'>
      <input
        class='form-check-input'
        type='radio'
        name='nodeJs'
        id='inlineRadio2'
        value='4'
      />
      <label class='form-check-label' for='inlineRadio2'>4</label>
    </section>
    <section class='form-check form-check-inline'>
      <input
        class='form-check-input'
        type='radio'
        name='nodeJs'
        id='inlineRadio1'
        value='5'
      />
      <label class='form-check-label' for='inlineRadio1'>5</label>
    </section>

    <p>Express- starting server, defining routes, serving html/data</p>
    <section class='form-check form-check-inline'>
      <input
        class='form-check-input'
        type='radio'
        name='express'
        id='inlineRadio1'
        value='1'
        checked
      />
      <label class='form-check-label' for='inlineRadio1'>1</label>
    </section>
    <section class='form-check form-check-inline'>
      <input
        class='form-check-input'
        type='radio'
        name='express'
        id='inlineRadio2'
        value='2'
      />
      <label class='form-check-label' for='inlineRadio2'>2</label>
    </section>
    <section class='form-check form-check-inline'>
      <input
        class='form-check-input'
        type='radio'
        name='express'
        id='inlineRadio1'
        value='3'
      />
      <label class='form-check-label' for='inlineRadio1'>3</label>
    </section>
    <section class='form-check form-check-inline'>
      <input
        class='form-check-input'
        type='radio'
        name='express'
        id='inlineRadio2'
        value='4'
      />
      <label class='form-check-label' for='inlineRadio2'>4</label>
    </section>
    <section class='form-check form-check-inline'>
      <input
        class='form-check-input'
        type='radio'
        name='express'
        id='inlineRadio1'
        value='5'
      />
      <label class='form-check-label' for='inlineRadio1'>5</label>
    </section>

    <p>OOP-Constructors, promises, classes etc</p>
    <section class='form-check form-check-inline'>
      <input
        class='form-check-input'
        type='radio'
        name='oop'
        id='inlineRadio1'
        value='1'
        checked
      />
      <label class='form-check-label' for='inlineRadio1'>1</label>
    </section>
    <section class='form-check form-check-inline'>
      <input
        class='form-check-input'
        type='radio'
        name='oop'
        id='inlineRadio2'
        value='2'
      />
      <label class='form-check-label' for='inlineRadio2'>2</label>
    </section>
    <section class='form-check form-check-inline'>
      <input
        class='form-check-input'
        type='radio'
        name='oop'
        id='inlineRadio1'
        value='3'
      />
      <label class='form-check-label' for='inlineRadio1'>3</label>
    </section>
    <section class='form-check form-check-inline'>
      <input
        class='form-check-input'
        type='radio'
        name='oop'
        id='inlineRadio2'
        value='4'
      />
      <label class='form-check-label' for='inlineRadio2'>4</label>
    </section>
    <section class='form-check form-check-inline'>
      <input
        class='form-check-input'
        type='radio'
        name='oop'
        id='inlineRadio1'
        value='5'
      />
      <label class='form-check-label' for='inlineRadio1'>5</label>
    </section>

    <!--Submit button-->
    <section><input
        id='submit-btn'
        type='submit'
        value='Update'
        class='btn btn-grad'
      />
    </section>
  </div>
</form>

{{#section 'script'}}
  <script src='/js/assessment.js'></script>
{{/section}}