<section class='container' id='chat'>
  <ul class='messages'></ul>
  <form>
    <input type='text' class='input' autocomplete='off' autofocus />
    <button>Send</button>
  </form>
</section>

<script
  src='https://cdn.socket.io/4.5.4/socket.io.min.js'
  integrity='sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI'
  crossorigin='anonymous'
></script>
<script src='./js/chat.js'></script>