<section class='container text-center'>
  <h2>Welcome{{#if loggedIn}} {{userData.username}}{{/if}}!</h2>
  <p>
    Welcome to a growing community of coders working hand-in-hand to make sure
    no buddy gets left behind
  </p>
</section>
{{#if loggedIn}}
  <article id='chat-options' class='container d-flex justify-content-evenly'>
    <section id='create-room' class='text-center'>
      <select class='form-select' aria-label='select subject'>
        <option value='vanillaJs'>Vanilla JS</option>
        <option value='mySql'>mySQL</option>
        <option value='nodeJs'>Node.JS</option>
        <option value='express'>Express</option>
        <option value='oop'>OOP</option>
      </select>
      <button class='btn btn-grad chat-btn' data-option='find'>Find a buddy</button>
    </section>
    <section id='join-room'>
      <table class='table table-striped'>
        <thead>
          <tr>
            <th scope='col'>Subject</th>
            <th scope='col'>Score</th>
          </tr>
        </thead>
        <tbody>
          {{#each userData.score}}
            <tr>
              <th scope='row'>{{formatSubject @key}}</th>
              <td>{{this}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      <button class='btn btn-grad chat-btn' data-option='help'>Help a buddy</button>
    </section>
  </article>
{{/if}}

{{#if loggedIn}}
  {{#section 'script'}}
    <script src='./js/homepage.js'></script>
  {{/section}}
{{/if}}