<section class='container text-center'>
  <h2>Welcome!</h2>
  <p>
    Welcome to a growing community of coders working hand-in-hand to make sure
    no buddy gets left behind
  </p>
</section>
{{#if loggedIn}}
  <article id='chat-options' class='container d-flex justify-content-evenly'>
    <section id='create-room' class='text-center'>
      <select class='form-select' aria-label='select subject'>
        <option value='vanillaJs'>Vanilla JS</option>
        <option value='mySql'>mySQL</option>
        <option value='nodeJs'>Node.JS</option>
        <option value='express'>Express</option>
        <option value='oop'>OOP</option>
      </select>
      <button class='btn btn-grad'>Find a buddy</button>
    </section>
    <section id='join-room'>
      <table class='table table-striped'>
        <thead>
          <tr>
            <th scope='col'>Subject</th>
            <th scope='col'>Score</th>
          </tr>
        </thead>
        <tbody>
          <tr id='vanillaJs-row'>
            <th scope='row'>Vanilla JS</th>
            <td>null</td>
          </tr>
          <tr id='mySql-row'>
            <th scope='row'>mySQL</th>
            <td>null</td>
          </tr>
          <tr id='nodeJs-row'>
            <th scope='row'>Node.JS</th>
            <td>null</td>
          </tr>
          <tr id='express-row'>
            <th scope='row'>Express</th>
            <td>null</td>
          </tr>
          <tr id='oop-row'>
            <th scope='row'>OOP</th>
            <td>null</td>
          </tr>
        </tbody>
      </table>
      <button class='btn btn-grad'>Help a buddy</button>
    </section>
  </article>
{{/if}}

{{#if loggedIn}}
  <script src='./js/homepage.js'></script>
{{/if}}