{{!-- proper indentation --}}
<section class="container">
    <div class="row">
        <div class="col">
            <form action="/login" method="post">
            </form>
            <label>Username:</label>
            <input type="text" name="email"/>
            <label>Password</label>
            <input type="password" name="password" />
            <input class="btn btn-primary" type="submit" value="Submit" />
        </div>
    </div>

    <div class="row">
        <div class="col">
            <form action="/login" method="post">
                <label>Username:</label>
                <input type="text" name="name" />
                <label>Password</label>
                <input type="password" name="password" />

                <input class="btn btn-primary" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</section>