<header class='container text-center'>
  <header class='container text-left'></header>
  <header class='container text-right'></header>
  <form>
    <label>Username:</label>
    <input id='username' type='text' name='name' />
    <label>Password</label>
    <input id='password' type='password' name='password' />

    <button id='create-account' class='btn btn-primary btn-grad'>Create Account</button>
    <button id='profile-login' class='btn btn-primary btn-grad'>Go to Profile</button>
    {{! <input class='checkbox' type='checkbox' value='Remember Me' />
        <input class="linkspara"><a href="#" class="links">Forgot Password? }}
  </form>
  <header class='container text-left'></header>
  <header class='container text-right'></header>
</header>

<script src='/js/login.js'></script>