<div class='container'>
  <div class='row Nameheader'>
    {{! <div class='col-sm-2'>
      <div class='card'>
        <div class='card-body'>
          <h5 class='card-title'>Online status</h5>

          <button
            type='button'
            class='btn btn-toggle'
            data-toggle='button'
            aria-pressed='false'
            autocomplete='off'
          >
            <div class='handle'></div>
          </button>
          <div class='col-sm-5'>
            <a
              href='#'
              class='btn btn-primary active'
              role='button'
              data-bs-toggle='button'
              aria-pressed='true'
            >online</a>
            <a
              href='#'
              class='btn btn-primary active'
              role='button'
              data-bs-toggle='button'
              aria-pressed='true'
            >offline</a>
          </div>
        </div>
      </div>
    </div> }}
    <div class='col-sm-6 offset-sm-1'>
      <div class='card'>
        <div class='card-body'>
          <h5 class='card-title'>{{userData.username}}</h5>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div
      class='card border-primary mb-3 offset-sm-2 Availability'
      style='max-width: 50rem; min-height: 400px;'
    >
      <div class='card-header'>Availability</div>
      <div class='card-body text-primary'>
        <form id='demoForm'>
          <fieldset>
            <legend>Please pick your availability</legend>
            <table id='regDetails'>
              <div class='row'>
                <div class='col-5'>
                  <div class='input-group date' id='datepicker'>
                    <input
                      type='text'
                      class='form-control'
                      value='1/2/23'
                      id='date'
                    />
                    <span class='input-group-append'>
                      <span class='input-group-text bg-light d-block'>
                        <i class='fa fa-calendar'></i>
                      </span>
                    </span>
                  </div>
                </div>
              </div>
              <tr>
                <input
                  type='time'
                  class='form-control'
                  id='time'
                  value='10:05 AM'
                />
              </tr>
              <tr>
                <td colspan='2'><input type='submit' id='submitButton' /></td>
              </tr>
            </table>
          </fieldset>
        </form>
        <p class='card-text'>Please add the days of the week and hours that you
          are available.</p>
      </div>
      <ul class='list-group'>
        {{#each schedule}}
          <li class='list-group-item time-row'>
            <h3>date:</h3><h3>{{date}}</h3>
            <h3>time:</h3><h3>{{time}}</h3>
          </li>
        {{/each}}
      </ul>
    </div>

  </div>

</div>

{{#section 'script'}}
  <script src='/js/profile.js'></script>
{{/section}}