<div class='container'>
  <div class='row Nameheader'>
    <div class='col-sm-2'>
      <div class='card'>
        <div class='card-body'>
          <h5 class='card-title'>Online status</h5>

          <button
            type='button'
            class='btn btn-toggle'
            data-toggle='button'
            aria-pressed='false'
            autocomplete='off'
          >
            <div class='handle'></div>
          </button>
          <div class='col-sm-5'>
            <a
              href='#'
              class='btn btn-primary active'
              role='button'
              data-bs-toggle='button'
              aria-pressed='true'
            >online</a>
            <a
              href='#'
              class='btn btn-primary active'
              role='button'
              data-bs-toggle='button'
              aria-pressed='true'
            >offline</a>
          </div>
        </div>
      </div>
    </div>
    <div class='col-sm-6 offset-sm-1'>
      <div class='card'>
        <div class='card-body'>
          <h5 class='card-title'>Student Name</h5>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div
      class='card border-primary mb-3 offset-sm-2 Availability'
      style='max-width: 50rem; min-height: 400px;'
    >
      <div class='card-header'>Availability</div>
      <div class='card-body text-primary'>
        <h5 class='card-title'>Submit your Availability</h5>
        <form id='demoForm'>
          <fieldset>
            <legend>Register here</legend>
            <table id='regDetails'>
              <tr>
                <td><label for='daysInput'>Days</label></td>
                <td><input type='text' id='daysInput' /></td>
              </tr>
              <tr>
                <td><label for='hoursInput'>Hours</label></td>
                <td><input type='text' id='hoursInput' /></td>
              </tr>
              <tr>
                <td colspan='2'><input type='submit' id='submitButton' /></td>
              </tr>
            </table>
          </fieldset>
        </form>
        <p class='card-text'>Please add the days of the week and hours that you
          are available.</p>
      </div>
    </div>
    <div class='card'>
      <div class='card-body' style='max-width: 20rem; min-height: 100px;'>
        <a
          href='#'
          class='btn btn-primary active'
          role='button'
          data-bs-toggle='button'
          aria-pressed='true'
        >Edit Assesment</a>
      </div>
    </div>
  </div>

</div>

<script src='/js/profile.js'></script>