:root {
  --primary-color: #06283d;
  --secondary-color: #256d85;
  --tertiary-color: #47b5ff;
  --quaternary-color: #dff6ff;
  --border-styles: 5px solid var(--secondary-color);
  --bs-card-bg: #06283d;
}

body {
  margin: 0;
  font-family: sans-serif;
}

header {
  margin: 5px;
  border: var(--border-styles);
}

#buddy-card {
  margin-bottom: 5px;
  border: var(--border-styles);
}

#chat {
  border: var(--border-styles);
}

#chat form {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 0.25rem;
}

#chat form input {
  border: 0;
  padding: 0.5rem;
  width: 100%;
  outline: 0;
  margin-right: 0.5rem;
  border-radius: 0.25rem;
  background: #ccc;
}

#chat form button {
  width: 6rem;
  background-color: #1b8c00;
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.25rem;
  text-transform: uppercase;
}

#chat form button:hover {
  background-color: #166d01;
}

#chat .messages {
  margin: 0;
  padding: 0;
  margin-bottom: 3rem;
  list-style: none;
}

#chat .messages li {
  padding: 0.5rem;
}

#chat .messages li:nth-child(odd) {
  background: #eee;
}
