/* Style Idea: Yellow background, pink top bar, and silver nav bar to look like a #2 pencil. It would also make the blue iridescent buttons pop */

:root {
  --primary-color: #06283d;
  --secondary-color: #256d85;
  --tertiary-color: #47b5ff;
  --quaternary-color: #dff6ff;
  --pencil-yellow: #edb560;
  --pencil-pink: #dbb7bb;
  --pencil-silver: #e2e2e3;
  --border-styles: 5px solid var(--secondary-color);
  --bs-card-bg: #06283d;
}

h1,
h2,
h3 {
  color: var(--secondary-color);
}

body {
  margin: 0;
  font-family: 'Trebuchet MS', sans-serif;
  background: var(--pencil-yellow);
}

.buddy-card {
  margin: 5px;
  padding: 5px;
  border: var(--border-styles);
  background: var(--pencil-pink);
}

.mb-4 {
  display: flex;
  justify-content: right;
  width: 100%;
}

#nav-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#buddy-card {
  margin-bottom: 5px;
  border: var(--border-styles);
}

#chat-window {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  height: 500px;
  border: var(--border-styles);
}

#chat-window .messages {
  width: 100%;
  flex: 1;
  border-bottom: solid var(--secondary-color);
  overflow: auto;
  margin: 0;
  padding: 0;
  list-style: none;
}

#chat-window .messages li {
  padding: 0.5rem;
}

#chat-window form {
  flex: 1;
  flex-grow: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 0.25rem;
}

#chat-window form input {
  border: 0;
  padding: 0.5rem;
  width: 100%;
  outline: 0;
  margin-right: 0.5rem;
  border-radius: 0.25rem;
  background: #ccc;
}

#chat-window form button {
  width: 6rem;
  background-color: #1b8c00;
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.25rem;
  text-transform: uppercase;
}

#chat-window form button:hover {
  background-color: #166d01;
}

#chat-window .messages li.self {
  background: var(--pencil-silver);
}

#chat-window .messages li.buddy {
  background: var(--pencil-pink);
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #4cb8c4 0%,
    #3cd3ad 51%,
    #4cb8c4 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.btn-grad:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.name-header {
  justify-content: right;
  width: 50rem;
}

@media screen and (max-width: 500px) {
  .btn-grad {
    padding: 0;
  }
}

@media screen and (min-width: 500px) {
  .btn-grad {
    padding: 15px 30px;
  }
}

@media screen and (min-width: 768px) {
  .btn-grad {
    padding: 15px 45px;
  }
}

/*Assessment Styling*/
.score-card {
  justify-content: center;
  text-align: center;
}

#update-btn {
  margin-top: 10px;
}

/* Profile */

.schedule {
  display: flex;
}

.schedule li {
  list-style: none;
}
