/* Style Idea: Yellow background, pink top bar, and silver nav bar to look like a #2 pencil. It would also make the blue iridescent buttons pop */

:root {
  --primary-color: #06283d;
  --secondary-color: #c0c0c0;
  --tertiary-color: #47b5ff;
  --quaternary-color: #dff6ff;
  --pencil-yellow: #f5c000;
  --pencil-pink: #f4aeb6;
  --pencil-silver: #e2e2e3;
  --border-styles: 4.5px solid var(--secondary-color);
  --bs-card-bg: #06283d;
  --boxes: rgba(255, 248, 225, 0.363);
}

h1,
h2 {
  font-weight: 100;
  color: black;
}

body {
  font-family: 'Verdana', 'Trebuchet MS', sans-serif;
  background: var(--pencil-yellow);
}

header {
  border-radius: 5px;
}

/*Navigation bar styling*/
.nav {
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--pencil-pink);
  border-bottom: var(--border-styles);
}

#nav-btn {
  display: flex;
  flex-wrap: wrap;
  color: white;
}

#nav-logo {
  max-width: 300px;
}

/* Chat css */
.mb-4 {
  display: flex;
  justify-content: right;
  width: 100%;
}
#buddy-window {
  margin-bottom: 5px;
  border: var(--border-styles);
}

#chat-window {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  height: 500px;
  border: var(--border-styles);
}

#chat-window .messages {
  width: 100%;
  flex: 1;
  border-bottom: solid var(--secondary-color);
  overflow: auto;
  margin: 0;
  padding: 0;
  list-style: none;
}

#chat-window .messages li {
  padding: 0.5rem;
}

#chat-window form {
  flex: 1;
  flex-grow: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 0.25rem;
}

#chat-window form input {
  border: 0;
  padding: 0.5rem;
  width: 100%;
  outline: 0;
  margin-right: 0.5rem;
  border-radius: 0.25rem;
  background: #ccc;
}

#chat-window form button {
  width: 6rem;
  background-color: #1b8c00;
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.25rem;
  text-transform: uppercase;
}

#chat-window form button:hover {
  background-color: #166d01;
}

#chat-window .messages li.self {
  background: var(--pencil-silver);
}

#chat-window .messages li.buddy {
  background: var(--pencil-pink);
}

/*Button styling*/
.btn-grad {
  background-image: linear-gradient(
    to right,
    #4cb8c4 0%,
    #3cd3ad 51%,
    #4cb8c4 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.btn-grad:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/* Profile */
.schedule {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.schedule li {
  width: 40%;
  list-style: none;
}

/* login */
.signup {
  margin-top: 50px;
  border-radius: 5px;
  background-color: var(--boxes);
  padding: 50px;
  max-width: 450px;
}

#create-account {
  margin-bottom: 20px;
}

.username {
  margin-bottom: 10px;
}

.password {
  margin-bottom: 10px;
}

#signup-text {
  color: white;
  font-style: italic;
  font-size: 20px;
}

.signup-images {
  margin-top: 20px;
}

#create-login {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: var(--border-styles);
  margin: auto;
  max-width: 1000px;
}

@media screen and (max-width: 500px) {
  .btn-grad {
    padding: 0;
  }
}

@media screen and (max-width: 1005px) {
  #create-login {
    margin: 5px;
  }
}

@media screen and (min-width: 500px) {
  .btn-grad {
    padding: 15px 30px;
  }
}

@media screen and (min-width: 768px) {
  .btn-grad {
    padding: 15px 45px;
  }
}

/*Homepage styling*/
#studying-img {
  max-height: 400px;
  justify-content: start;
  padding-right: 100px;
}

#studying-logo {
  max-width: 350px;
  justify-content: flex-end;
}

.cover {
  flex-direction: row;
  border-radius: 5px;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  box-shadow: 0px 0px 10px 1px;
  background-color: var(--boxes);
}

#welcome {
  color: white;
  font-weight: 10px;
  font-size: 100px;
}

#homepage-text {
  font-size: 17px;
  color: white;
  padding: 30px;
  line-height: 35px;
}
.main {
  margin-top: 20px;
}

#join-room table {
  border: black;
  background-color: var(--boxes);
}

/*Assessment Styling*/
.score-card {
  justify-content: center;
  text-align: center;
}

#update-btn {
  margin-top: 10px;
}
